.canvasMap {
  background-image: url('https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/pass/GoogleMapTA.jpg');
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
}