<div>
  <div class="title">
    <p>Your Drone Flight Planner: </p>
    <p>{{currentMapName}}</p>
  </div>

  <div class="main">
    <div class="canvas-box">
      <canvas class="canvasMap" id="imgCanvas"
        (mouseup)="addDot($event)">
      </canvas>
      <div class="edit-map">
        <div class="save-box">
          <div><input type="search" placeholder="Enter map name..." (keyup)="onKey()" [(ngModel)]="currentMapName"></div>
          <div><button [disabled]="buttonDisabled" class="button-saveMap" (click)=saveMap()>Save Map</button></div>
        </div>
        <mat-icon mat-list-icon (click)="clearCanvas()">clear</mat-icon>
      </div>


    </div>

    <div class="mapInfo">
      <mat-list>
        <p mat-subheader>List of Maps created:</p>
        <mat-list-item *ngFor="let map of maps; index as i" (click)="uploadMap(i)" class="map-list-item">
          <mat-icon mat-list-icon>map</mat-icon>
          <h4 mat-line>{{map.name}}</h4>
          <p mat-line> {{map.date | date}} </p>
        </mat-list-item>
      </mat-list>
    </div>

  </div>





</div>

